@import "tailwindcss";

.react-date-picker__wrapper {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

/* Remove the inner small boxes */
.react-date-picker__inputGroup__input {
  border: none !important;
  outline: none !important;
  background: transparent !important;
  box-shadow: none !important;
}

/* Remove segment separators (slashes, spaces) */
.react-date-picker__inputGroup__divider {
  color: #aaa !important; /* can customize if you want */
}